.comments {
  width: 600px;
  padding: 20px;
  background: #eee;
  margin: 50px auto;
}

form {
  width: 600px;
  padding: 20px;
  background: #eee;
  margin: 50px auto;
}

form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

input, textarea {
  width: 300px;
  padding: 5px;
}

.comment {
  padding-bottom: 20px;
  position: relative;
}

.comment p {
  margin-left: 65px;
}

.comment .image {
  float: left;
  margin-right: 20px;
}

.replies {
  padding-left: 100px;
}

a.show-more {
  color: #5566cc;
}

.delete-button {
  position: absolute;
  top: 20px;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #999;
  transition: color 0.2s ease;
}

.delete-button:hover {
  color: #d32f2f;
}

.delete-button:focus {
  outline: 2px solid #5566cc;
  outline-offset: 2px;
}

.delete-button svg {
  display: block;
}
